recursive-exclude .github *
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude codegen *
recursive-exclude container *
recursive-exclude benchmarks *
exclude .editorconfig
exclude *.yaml
exclude *.yml
exclude Makefile
exclude setup.cfg
recursive-include src py.typed
recursive-include src *.py
include LICENSE
include NOTICE
include README.md
include pyproject.toml
recursive-exclude java_tester *
