exclude .editorconfig
recursive-exclude .github *
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude codegen *
recursive-exclude container *
recursive-exclude benchmarks *
recursive-include src py.typed
recursive-include src *.py
exclude *.yaml
exclude *.yml
include README.md
include LICENSE
exclude Makefile
